


.rotate-top:hover{
img 
  -webkit-animation: rotate 15s ease infinite alternate;
          animation: rotate 15s ease infinite alternate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(720deg);

  }
}




.rotate-middle {
  -webkit-animation: rotate 35s ease infinite alternate;
          animation: rotate 35s ease infinite alternate;
}

@-webkit-keyframes rotate-middle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-middle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



.rotate-bottom {
  -webkit-animation: rotate 60s ease infinite alternate;
          animation: rotate 60s ease infinite alternate;
}

@-webkit-keyframes rotate-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


body {
background-image: url(../images/paper.jpg);
background-size: 1700px, 300px;
background-color:;

}

h1 {font-size: 60px;}
h1 {font-family: 'Pacifico', cursive;}
h1 {text-align: center;}
img {width: 100%}
body {margin: 5em;}

.intro
body{

}
.author
{background-image: url(../images/pco.jpg);
background-size: cover;
position: relative;
width:  300px;
height: 300px;
left: 560px;
}

.intro-paragraph {
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-top: auto;

}



.chapter-1{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-top: 150px;
  }

.chapter-1-paragraph{
position: relative;
  text-align: center;
margin-top: 600px;
}

  .chapter-2{
  margin-top: 100px;
  }


.chapter-2-paragraph {
  text-align: center;
  position: relative;
  margin-top: 650px;
}



.audio {
  
position: relative;
height: 100px;
width: auto;
margin-top: 250px;
left:560px;

}







 
 .mountains{
position: relative;
width: auto;
height: auto;
margin-top: auto;
left: 200px; 
 }

 .cloud-top
 {background-image: url(../images/mount2.png);
background-size: cover;
position: absolute;
width:  1000px;
height: 500px;

  margin: auto;
  opacity:1;
  transition:opacity 1s linear;
}

.cloud-top:hover {
  background-image: url(../images/mount2.png);
  opacity:0;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}




 .mountains-bottom
 {background-image: url(../images/mount1.png);
 background-size: cover;
 position: absolute;
  width:  1000px;
  height: 500px;
  }












.leaves{
	position:absolute;
	width: auto;
  margin-top: -50px;
  left:470px;
}

.top {
	background-image: url(../images/1a.png);
	background-size: cover;
	width: 650px ;
	height: 650px;
	position: absolute;
	left:auto; 
	top:;
}

.middle {
	background-image: url(../images/2a.png);
		background-size: cover;
	width: 650px;
	height: 650px;
	position: absolute;
	left:auto; 
	top:;
}

.bottom {
	background-image: url(../images/3a.png);
		background-size: cover;
	width: 650px;
	height: 650px;
	position: absolute;
	left: auto; 
	top:;

}

.gold {
  
background-image: url(../images/4a.png);
 background-size: cover;
width: 650px;
height: 650px;
  position: absolute;
 left:auto;
 top: ; }


.ring {
  
background-image: url(../images/5a.png);
 background-size: cover;
width: 650px;
height: 650px;
  position: absolute;
 left: auto;
 top: ; }






.bookWrap {
  margin: auto;
  height:416px;
  width: 300px;
  position:absolute;

  left:640px;

  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
          perspective: 1200px;
}

.book {
  background:#000;
  height:416px;
  width:300px;
  margin-top: -520px;

  top:0;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  
  -webkit-transition: -webkit-transform .5s ease 0s;
     -moz-transition: -moz-transform .5s ease 0s;
          transition: transform .5s ease 0s;
  
  -webkit-border-radius: 0 7px 7px 0;
     -moz-border-radius: 0 7px 7px 0;
          border-radius: 0 7px 7px 0;
  
  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
          perspective: 1200px;
}

.bookIntro {
  -webkit-transform: rotateY(30deg);
     -moz-transform: rotateY(30deg);
          transform: rotateY(30deg);
}

.cover {
  position:absolute;
  left:0;
  top:0;

  height: 416px;
  width: 300px;

  max-width: 300px;
  max-height: 416px;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;

  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;

  -webkit-transition: -webkit-transform .5s ease 0s, width .5s ease 0s;
     -moz-transition: -moz-transform .5s ease 0s, width .5s ease 0s;
            transition: transform .5s ease 0s, width .5s ease 0s;

  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
          transform-origin: 0;
}

.cover:hover {  
  width:280px;
  
  -webkit-transform: rotateY(-20deg);
     -moz-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}

.spine {
  background:black;
  width: 40px;
  height: 344px;
  position: absolute;
  top: 0;
  left:0;


  -webkit-transform: rotateY(90deg);
     -moz-transform: rotateY(90deg);
          transform: rotateY(90deg);

  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
          transform-origin: 0;
}



.stack{
  position: relative;
  margin-top: 100px;

}


.bookie {
  animation: stack .3s linear forwards;
  background-color: #E8D8A8;
  border-color: #A0BD92;
  border-width: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 7px;
  border-top-left-radius: 5px;  
  border-right-color: white;
  border-style: solid;
  box-shadow: inset 5px 3px 10px -5px #444;
  height: 33px;
  position: relative;
  opacity: 0;
  width: 200px;
  
  &:before, &:after {
    border-bottom: 3px solid darken(#E8D8A8, 9%);
    border-top: 3px solid darken(#E8D8A8, 9%);
    content: "";
    height: 3px;
    left: 4px;
    position: absolute;
    top: 10px;
    width: 95%;
  }
  

  &:after {
    bottom: 5px;
    top: auto;
  }
}

.bookie:nth-of-type(1) {
  animation-delay: 4s;
}

.bookie:nth-of-type(2) {
  animation-delay: 3s;
  border-color: #ffae3d;
  border-left-color: white;
  background-color: lighten(#E8D8A8, 3%);  
  box-shadow: inset -5px 3px 10px -5px #444;
  margin-left: 3em;
}
.bookie:nth-of-type(3) {
  animation-delay: 2s;
  background-color: white;
  border-color: #455971;
  border-right-color: white;
  box-shadow: none;
  border-radius: 4px;
  height: 18px;
  margin-left: 3em;
  
  &:before { position: static;  }
  &:after {
    position: static;
    border: none;
  }
}

.bookie:nth-of-type(4) {
  animation-delay: 1s;
  border-color: #455971;
  border-left-color: white;

  height: 22px;
  margin-left: -1em;
}

.bookie:nth-of-type(5) {
  animation-delay: 0s;
  margin-left: 2em;
  opacity: 1;
}


@keyframes stack {

  100% {
      margin-left: 1em;
      opacity: 1;
    }
  
}


